.profile__add-button{
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    background-repeat: round;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__add-button{
        width: 282px;
        height: 50px;
    }
}