.profile__container{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__container{
        text-align: center;
    }
}