.profile__container{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__container{
        text-align: center;
        margin-bottom: 14px;
    }
}