.form__input{
    border: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 26px 0;
    width: 358px;
    height: 27px;
    padding-bottom: 3px;
}

@media screen and (max-width: 767px) {
    .form__input{
        width: 238px;
    }
}
