.element__parapraph{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-top: 24px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
    margin-bottom: 26px;
}